<h1>Bonjour {{ target }}</h1></br>

{{ requester }} aimerais votre aide pour {{ competence }}.</br>

Connectez vous pour acceder à sa requète sur <a href="{{ url('login') }}">Bondesavoir.fr</a>.</br>

Merci.