<h3>Vous voila enregistré/e</h3>

Bonjour {{ prenom }}! Vous êtes maintenant prêt/e a partager vos connaissances.

Votre identifiant: {{ name }}

Pour acceder a votre page de profil veuillez vous connecter sur: <a href="{{ url('login') }}">Bondesavoir.fr</a>.

Merci!