.t0 a{
    height: 100%;
    margin-top: 0px;
    color: hsla(120, 60%, 70%, 0.3);
    text-align: center;
    text-transform: capitalize;}
.t1 a{
    height: 125%;
    text-transform: capitalize;
    color: hsla(120, 100%, 60%, 0.3);
    text-align: center;
}
.t2 a{
    font-size: 150%;
    text-transform: capitalize;    color: hsla(120, 100%, 50%, 0.3);
}
.t3 a{
    font-size: 175%;
    text-align: center;
    color: hsla(120, 100%, 75%, 0.3);
    text-transform: capitalize;
    
}
.t4 a{
    font-size: 200%;
    text-align: center;
    color: hsla(120, 100%, 40%, 0.3);
    text-transform: capitalize;
}

.black {
    margin-bottom: 10px;
    background-color: #222;
    
    text-align: center;
}